body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-color: rgb(0, 121, 129);
    color: white;
    margin-top: 0;
    margin: 0%;
}

h1{
    text-align: center;
    font-size: 60px;
    color: white;
}
h2{
    text-align: center;
    font-size: 30px;
    color: white;
    
}
h3{
    text-align: center;
    color: white;
    font-weight: bold;
    
}

/* navbar and link deals with nav on top */
.navbar{
    top: 0;
    width: 100%;
    text-align: center;
    color: white;
    background-color: rgb(2, 42, 54);
}
#link{
    color:white;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
    padding: 14px 16px;
}

/* Homepage*/
.bloglist{
    text-align: left;
    background-color: rgb(2, 42, 54);
    margin: 0 auto;
    margin-right: 20%;
    border-radius: 4px;
    padding-left: 20px;
    padding-right:10px;
    padding-bottom: 10px;

}
#titlelink{
    color: white;
    font-weight: bold;
    font-size: 20px;
   
}
.user{
    font-size: 10px;
    text-align: left;
    padding-left: 20px;
}
a.user:visited{
    font-size: 10px;
    text-align: left;
    color: rgb(167, 223, 245);
}


/* New Post Page */
.newpost {
    border-radius: 5px;
    padding-left: 10px;
    text-align: center;
}

input[type=text], textarea {
   
    padding: 5px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 2px; /* Add a top margin */
    margin-bottom: 6px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  input[type=password], textarea {
   
    padding: 5px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 2px; /* Add a top margin */
    margin-bottom: 6px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
input[type=submit] {
    background-color: rgb(2, 42, 54);
    color: white;
    margin: 0 auto;
    padding: 5px 10px;
    border-radius: 4px;
    display: block;
}

.newlabels {
    font-size: 20px;
}
/* login page */
.login {
   text-align: center;
   margin-left: 39%;
   margin-bottom: 2%;
    
}
.signup {
    
    margin-left: 39%;
    margin-bottom: 2%;
     
 }

/* whatever */
p {
    font-size: 20px;
    text-align: center;

}

.error{
    color:red;
    font-size: 20px:
}

/* Individual Post */
.singlepost{
    padding: 2px;
    background-color: rgb(2, 42, 54);
    margin: 0 auto;
    margin-top: 5%;

    border-radius: 4px; /* Rounded borders */
    width: 30%; /* Full width */
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}
#posttext{
    font-weight: 100;
}

.userlist{
    margin-left: 37%;
}

.sourcelink{
    color: white;
    
}


