{% extends "base.html" %}
{% block content %}
    <h1>Build A Blog!</h1>
    


    {% if entry|length == 0 %}
    <h3>No posts yet!</h3>
    {% else %}
    <h2>Blog Posts</h2>
    
        <ul style="list-style-type:none;">
            {% for entry in posted_blog %}
            <div class="bloglist">
            <a id="titlelink" href="/displaypost?id={{entry.id}}"><h3></h3><li>{{entry.title}}</li></h3></a>
            <li>{{entry.body}}</li>
            </div>
            
            {% endfor %}
        </ul>
   

    {% endif %}
    

   
{% endblock %}