{% extends "base.html" %}
{% block content %}
<h1>Create a Blog Post!</h1>
    <div class="newpost">
    <form method="POST">
        
        <label>
            <p class="newlabels">Create a Title</p>
            <input type="text" name="title" placeholder="Add a Title..." id="title" value="{{title_log}}">
            <p class="error">{{title_error}}</p>
        </label>
   
        
        <label>
            <p class="newlabels">Create a Post</p>
            <textarea rows= "5" cols= "50" placeholder="Write something.." name="entry" id="entry" value="{{entry_log}}"></textarea>
        </label>
        <input type="submit" value="Add Post" />
        <p class="error">{{entry_error}}</p>
        
        <input type="hidden" id='postid' name='postid' value='{{newpost}}'>
        
    
    </form>
     </div>
{% endblock %}